/**
 * main.css - The main css of the site
 *
 * Copyright (C) 2018, SpartaEN <z884421380@gmail.com>
 *
 * This file is part of the bottle-recycling-cashier
 *
 * bottle-recycling-cashier is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * bottle-recycling-cashier is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with bottle-recycling-cashier; see the file COPYING. If not, see
 * <http://www.gnu.org/licenses/>.
 */
body,html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
    min-width: 800px;
    width: auto !important;
    width:800px;
    background-color: #fff;
}
a {
    text-decoration: none;
}
.title{
    margin: 20px 0 20px 0;
    text-align: center;
    width: 100%;
    font-size:20px;
    font-weight: bold;
    color: #000;
}
#qrbox{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 450px;
    margin: -230px 0 0 -160px;
    box-shadow:  0 3px 4px 1px #00000071;
}
#qrcode {
    margin: 22px;
    width: 256px;
    height: 256px;
    align-content: center;
}
#welcome-text{
    background: #f7e540;
    border: 1px solid #f7a740;
    color: #da6505;
    margin: 5px;
}
#info {
    position: absolute;
    width: 600px;
    height: 80px;
    box-shadow:  0 3px 4px 1px #00000071;
    left:50%;
    top:50%;
    margin: -100px 0 0 -300px;
}
#bar {
    width: 597px;
    margin: 0 0 2px 0;
    padding: 4px 0 0 4px;
    color: #fff;
    font-weight: bold;
    background-color: #068117;
}
#bar div{
    float: left;
    justify-content: space-between;
}
.ba{
    display:inline-block;
    width: 70px;
    margin: 10px;
    border-right: 1px solid #eee;
    font-weight: bold;
    color: #3b3939;
}
.bt{
    display:inline-block;
    width: 70px;
    margin: 10px;
    border-right: 1px solid #eee;
    font-weight: bold;
}
#result{
    position: absolute;
    width: 600px;
    height: 40px;
    box-shadow:  0 3px 4px 1px #00000071;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -300px;
}
#callback {
    color: #068117;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
